/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
}
/* navv bar  */
.top-nav{

    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: black;
}
a{
   
    margin: 5px 5px;
    display: none;
}
.fa-bars{
    margin: 5px 5px;
    width: 40px;
}
.links{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
 

}

.links > li{
    margin-right:20px ;
    text-decoration: none;
    cursor: pointer;

}
.img-logo{
    width: 70px;
    height: 70px;
    padding: 10px;
}

.btn-blue{
    background-color: rgb(85, 85, 211);
    
}


/* main-slide-show */
.main-slide-show{
    display: flex;
    justify-content: center;
    background:url(./images/hero.jpg);
    color: white;
    height: 100vh;

}
.main-slide-show >h1{
 
    padding-top: 50vh;
    width: 25%;
    height: 25%;
}

/* bdd fundations */

.bdd-foundations{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: rgba(136, 136, 121, 0.1);
}
.bdd-foundations > h1{
    text-align: center;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;

}

.bdd-foundation-first-part{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;

}
.bdd-foundation-second-part{
    display: flex;
    align-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;

}
.larg-card {

    align-items: center;
}

.card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 250px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    height: 370px;
    border-radius: 10px;


}

.card>p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.card>h3 {
    
    text-align: center;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card>img {
    height: 25%;
    width: 70%;
    margin-left: 10%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.large-card {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    padding: 20px;
}

.large-card>img {
    width: 130px;
    height: 80px;


}
/* bdd-propreties */
.bddprop{
background-color: rgb(221, 226, 226);
}
.bdd-propreties{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    margin-top: 20px;
    flex-flow: row;
    
}
.prop-title{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin: 50px;
}
.bdd-propreties>img{
    width: 30%;
}
.list-containers{
    display: flex;
    flex-flow: row;
    width: 70%;
    justify-content:space-around
    
}
.list-containers>ul {
    height: 100%;
    border-radius: 10px;
    background-color: white;
    width: 20%;
}
.list-containers>ul>li{
    margin-left: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    padding-top: 10px;
    font-size: small;

}
.list-containers>ul>li::marker{
    color: rgb(110, 110, 185);
    content:"->";
  
    width: 0px;

}
.list-title{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.btn-more{
    margin-left: 15%;

   margin-top: 20px;
}
/*bdd app*/
.bdd-app{
    display: flex;
    flex-flow: column;
    justify-content: end;
    margin: 20px 10px;

}
.bdd-app>p{
    font-weight: bold;
    text-align: end;
}
.app-images{
    display: flex;
    justify-content:end;

}
.app-images>img{
    margin: 20px 20px;
    width: 160px;
    height: 80px;
}
/*statistics*/
.statistics{
    background: url(./images/stat.jpg);
    height: 60vh;
}
.statistics-numbers{
   
    margin: 0% 20%;
    display: flex;
    justify-content: space-around;

}
.statistics-card{
    width: 15%;
}
.statistics-card>img{
    width: 50%;
    height: 40%;
    
}
.statistics-card>p{
   
    font-weight: bold;
    margin-top: 10px;
}
.numbers{
font-size: x-large;


}
.statistics-title{
    margin-bottom: 30px;
    font-size: x-large;
    font-weight:bold ;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*trending title*/
.trending{
    display: flex;
    flex-flow: column;
    align-items: center;

}
.trending-title{
    margin-bottom: 30px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.trending-slide-show{
    display: flex;
    height: 80vh;
    justify-content: center;
    flex-flow: row;
    width: 70%;
    margin: 30px opx;
   
}
.trending-card{
    width: 30%;
    margin: 0px 5%;
    border: 3px solid black;
    box-shadow: 4px 5px 3px gray;
    
}
.trending-card>img{
    width: 100%;
    height: 65%;
    padding-bottom: 0;
}
.trending>button{
    margin-top: 10%;
    width: 15%;

}
.trending-card>p{
    margin-top: 0%;
    padding-top: 10%;
    padding-bottom: 3%;
    border-top: 1px solid gray;
    
}
.comments{
    font-size: small;
    color: gray;
}
.bdd-programm-container{
    display: flex;
    flex-flow: column;
    background: url(./images/progborder.jpg);
}
/*programm*/
.bdd-programm-container {
    display: flex;
    height: 50vh;
    flex-flow: column;
    background: url(./images/progborder.jpg);
    margin-top: 20px;
    margin-bottom: 50px;
    
}
.text-programm{
    display: flex;
    height: 100vh;
}

.main-prog-img{
    width: 90px;
}
.programm-card{
    margin: 60px 20px;
}
.images{
    width: 70px;
}

.programm-card-main{
    width: 40%;
    margin: 10% 20%;
    
}
.text-programm-2{
display: flex;
flex-flow: row;
justify-content: space-around;
}
.programm-button{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.text-trend{
    font-size: large;
    font-weight: 900;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*comments*/
.comments{
    margin-top: 10%;
    display: flex;
    flex-flow: column;
    margin-bottom: 5%;
}
.comments-title{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;

}
.comments-cards-container{
 display: flex;
 justify-content: space-around;
 
}
.comment-card{

 display: flex;
 width: 35%;
 flex-flow: column;
 border: 1px solid black;
 border-radius: 10px;
 box-shadow: 3px 3px 3px black;

}
.comment-card-img>img{
    width: 25%;
    margin: 10px 10px;
    border-radius: 10px;
}
.comments-text{
    margin: 10px 10px;
    margin-top: 40px;
}
/*more informations*/
.more{
background-color: rgb(53, 51, 51);
}
.cardend{
    background-color: rgb(53, 51, 51);
}
.carendd{
    background-color: rgb(53, 51, 51);
    display: flex;
        }
.carendd.div{
    display: flex;

}
.titleend{
    color: gray;
}
.paraend{
    color: white;
}
.address{
    padding-bottom: 2px;
    border-bottom: 1px solid white;
    display: flex;
   
}
.titleend>img{
    width: 40px;
    margin-top: 5px;}

input{background-color:rgb(53, 51, 51) ;}
/* Utlities*/
.btn {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

@media only screen and (max-width: 800px) {
    .mobile {
        flex-direction: column;
    }
    a{
        display: block;
    }
    .links{
        margin-top: 100px;
    }
    .bdd-propreties>img{
        width: 0px;
    }
    .list-containers>ul{
        width: 60%;
        margin: 20px 20px;
    }
    .app-images>img{
        width: 120px;
    }
    .statistics{
        height: 110vh;
    }
    .trending>button{
      margin-top: 30vh;
      width: 30%;
    }
    .trending{
        height: 100vh;
    }
    .trending-card>img{
        height: 100%;
    }
    .text-trend{
        font-size: 10px;
        
    }
    .bdd-programm-container{
        height: 100vh;
    }
    .text-programm{
        flex-direction: column;
    }
}